.headerText{
    color: black;
}
body{
    background-color: #f0fff0;
    font-family: 'Times New Roman', Times, serif;
}
article {
    margin: 20px; 
    width: 300px;
    padding: 20px;
    background-color: #f5f5dc;
}

s {
    color: #b00000;
    font-size: 12pt;
}

.price {
    font-size: 20pt;
    color: #006400;
}

button {
    width: 200px;
    margin: 45px;
    text-align: center;
    
}
button:hover{
    background-color: #f7c948;
    font-size: 18px;
}

p{
    color: black;

}