body{
    background-color: #DBB066;
}
article {
    margin: 20px; 
    width: 300px;
    padding: 20px;
    background-color: #f0fff0;
}

s {
    color: red;
    font-size: 12pt;
}

.price {
    font-size: 20pt;
    color: green;
}

button {
    width: 200px;
    margin: 45px;
    text-align: center;
    
}

p{
    color: red;
    font-family: 'Times New Roman', Times, serif;
}